/*	
	word-wrap: normal|break-word;先换行，再断词
	word-break: keep-all|break-all;直接断词
	word-spacing: 数量px;单词间隔
	letter-spacing: 数量px;字符间隔
*/

/*clear default*/
body{ margin: 0; padding: 0; }
p{ margin: 0; }
ul{ margin: 0; padding: 0; list-style: none; }
a{ text-decoration: none; }
textarea{ resize: none; background: none; }

/*global setting*/
body{
	/*衬线字体 serif*/
	font-family: "Times New Roman", Times, serif;
	/*无衬线字体 sans-serif 
	font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 微软雅黑, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	/*等宽字体 monospace 
	font-family: consolas, "Courier New", Courier, monospace;
	*/
}
li{
	text-align: center;
}
a{ cursor: pointer; }

/*grid*/
@media only screen and (max-width: 767px){
	.col-xs-12{ float: left; width: 100%; }
	.col-xs-9{ float: left; width: 75%; }
	.col-xs-6{ float: left; width: 50%; }
	.col-xs-4{ float: left; width: 33.33%; }
	.col-xs-3{ float: left; width: 25%; }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.col-sm-12{ float: left; width: 100%; }
	.col-sm-9{ float: left; width: 75%; }
	.col-sm-6{ float: left; width: 50%; }
	.col-sm-4{ float: left; width: 33.33%; }
	.col-sm-3{ float: left; width: 25%; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.col-md-12{ float: left; width: 100%; }
	.col-md-9{ float: left; width: 75%; }
	.col-md-6{ float: left; width: 50%; }
	.col-md-4{ float: left; width: 33.33%; }
	.col-md-3{ float: left; width: 25%; }
}
@media only screen and (min-width: 1200px){
	.col-lg-12{ float: left; width: 100%; }
	.col-lg-9{ float: left; width: 75%; }
	.col-lg-6{ float: left; width: 50%; }
	.col-lg-4{ float: left; width: 33.33%; }
	.col-lg-3{ float: left; width: 25%; }
}
/*
	1.撑高度
	2.清浮动
*/
.cf:after{
	content: '';
	display: block;/*声明其有尺寸*/
	clear: both;/*清浮动*/
	zoom: 0;/*IE*/
}

/*

*/
main li{ border: 1px solid green; }/**/
.img-wrapper{ 
	display: inline-block; 
	margin: 5px 10px; 
	border: 1px solid gray; 
	text-align: center;
}
.img-content{
	margin: 4px 5px 0;
}
.zoomIn{
	overflow: hidden;
	/*background: #2f3238;字体#484B54
	opacity: 0.8;*/
}
.zoomIn img{
	transition: opacity 1s, transform 1s ease;
}
/**/
.zoomIn:hover img{
	opacity: 0.4;
	transform: scale3D(1.1, 1.1, 1.1);
}

footer{
	padding: 0 5%;
	font-size: 15px;
	background: #F2F2F2;
}
footer li, footer a{
	display: inline-block;
	font-size: 0.8em;
	color: #626262;
	vertical-align: middle;
}
footer a:hover{
	color: rgba(0, 0, 0, 0.9);
	text-decoration: underline;
}
.footer-menugroup{
}
.footer-lang{
	float: left;
	width: 30%;
	line-height: 36px;
}
.footer-copyright{
	margin-left: 40%;
	padding: 10px 0;
	text-align: left;
}
.footer-copyright li{ 
	padding: 0 24px 0 0;
}

