/* @ */
/* @reset style */
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
table {
  border-collapse: collapse;
  text-align: center;
}
a {
  text-decoration: none;
}
button {
  outline: none;
}
textarea {
  background: none;
  resize: none;
}
/* @global style */
header,
main,
footer,
article,
section,
aside,
nav {
  display: block;
}
body {
  box-sizing: content-box;
  font-family: "Times New Roman", Times, serif;
}
ol[type='I'] {
  padding: 0 20px;
  list-style: upper-roman;
}
li {
  text-align: center;
}
a,
button {
  cursor: pointer;
}
a:hover,
a:active {
  text-decoration: underline;
}
table caption {
  margin: 0 0 10px;
  font: normal bold 20px/3 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td {
  width: 200px;
  height: 36px;
  border: 1px solid black;
}
hr {
  margin: 25px 0;
  border-top: 1px solid #d2d2d2;
}
/* @grid layout style */
.col-12 {
  float: left;
  width: 100%;
}
.col-10 {
  float: left;
  width: 83.34%;
}
.col-9 {
  float: left;
  width: 75%;
}
.col-8 {
  float: left;
  width: 66.66%;
}
.col-6 {
  float: left;
  width: 50%;
}
.col-4 {
  float: left;
  width: 33.33%;
}
.col-3 {
  float: left;
  width: 25%;
}
.col-2 {
  float: left;
  width: 16.66%;
}
@media only screen and (max-width: 767px) {
  .col-xs-12 {
    float: left;
    width: 100%;
  }
  .col-xs-10 {
    float: left;
    width: 83.34%;
  }
  .col-xs-9 {
    float: left;
    width: 75%;
  }
  .col-xs-8 {
    float: left;
    width: 66.66%;
  }
  .col-xs-6 {
    float: left;
    width: 50%;
  }
  .col-xs-4 {
    float: left;
    width: 33.33%;
  }
  .col-xs-3 {
    float: left;
    width: 25%;
  }
  .col-xs-2 {
    float: left;
    width: 16.66%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .col-sm-10 {
    float: left;
    width: 83.34%;
  }
  .col-sm-9 {
    float: left;
    width: 75%;
  }
  .col-sm-8 {
    float: left;
    width: 66.66%;
  }
  .col-sm-6 {
    float: left;
    width: 50%;
  }
  .col-sm-4 {
    float: left;
    width: 33.33%;
  }
  .col-sm-3 {
    float: left;
    width: 25%;
  }
  .col-sm-2 {
    float: left;
    width: 16.66%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .col-md-12 {
    float: left;
    width: 100%;
  }
  .col-md-10 {
    float: left;
    width: 83.34%;
  }
  .col-md-9 {
    float: left;
    width: 75%;
  }
  .col-md-8 {
    float: left;
    width: 66.66%;
  }
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-4 {
    float: left;
    width: 33.33%;
  }
  .col-md-3 {
    float: left;
    width: 25%;
  }
  .col-md-2 {
    float: left;
    width: 16.66%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-lg-12 {
    float: left;
    width: 100%;
  }
  .col-lg-10 {
    float: left;
    width: 83.34%;
  }
  .col-lg-9 {
    float: left;
    width: 75%;
  }
  .col-lg-8 {
    float: left;
    width: 66.66%;
  }
  .col-lg-6 {
    float: left;
    width: 50%;
  }
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
  .col-lg-3 {
    float: left;
    width: 25%;
  }
  .col-lg-2 {
    float: left;
    width: 16.66%;
  }
}
.f-cb:after {
  content: '';
  display: block;
  clear: both;
  zoom: 0;
  /*IE*/
}
.f-dn {
  display: none;
}
.f-fl {
  float: left;
}
.f-fs1 {
  font-size: 0.8rem;
}
.f-vam {
  vertical-align: middle;
}
.s-fc1 {
  color: #626262;
}
.s-fc1:hover {
  color: rgba(0, 0, 0, 0.9);
}
.s-fc2 {
  color: #aaa;
}
.s-fc2:hover {
  color: #333;
  background: gray;
}
.z-sel {
  text-decoration: underline;
}
/* @header style */
/* logo */
.logo-wrap {
  padding-top: 5px;
  text-align: center;
}
/* nav */
.m-nav li {
  float: left;
}
.m-nav a {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  margin: 0 30px;
  -webkit-transition: background 1s, color 1s;
  -moz-transition: background 1s, color 1s;
  -ms-transition: background 1s, color 1s;
  -o-transition: background 1s, color 1s;
  transition: background 1s, color 1s;
}
@media only screen and (max-width: 768px) {
  .nav-btn {
    float: left;
    display: block;
    height: 50px;
    padding: 0 15px;
    border: none;
    font-size: 18px;
    color: #ccc;
    background: #111;
  }
  .m-nav li {
    float: none;
    border-bottom: 1px solid gray;
  }
  .m-nav a {
    margin: 0;
  }
  .j-show {
    display: block;
  }
  .j-hide {
    display: none;
  }
}
/* @main style */
main {
  padding: 0 5%;
}
.fill {
  padding: 0;
}
/* goTop nav */
#goTop {
  position: fixed;
  bottom: 20%;
  right: 10px;
  z-index: 1;
}
.goTop {
  line-height: 36px;
  padding: 4px 8px;
  color: #333;
  border-top: 1px solid black;
}
.goTop:hover {
  color: #eee;
  background: #111;
}
/*zoom-in animate*/
.zoom-in {
  overflow: hidden;
  background: #2f2c2c;
}
.zoom-in img {
  -webkit-transition: opacity 1s, transform 1s ease;
  -moz-transition: opacity 1s, transform 1s ease;
  -ms-transition: opacity 1s, transform 1s ease;
  -o-transition: opacity 1s, transform 1s ease;
  transition: opacity 1s, transform 1s ease;
}
.zoom-in:hover img {
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: scale3D(1.1, 1.1, 1.1);
  -moz-transform: scale3D(1.1, 1.1, 1.1);
  -ms-transform: scale3D(1.1, 1.1, 1.1);
  transform: scale3D(1.1, 1.1, 1.1);
}
/* @footer style */
.m-ft {
  overflow: hidden;
  padding: 0 5%;
  font-size: 15px;
  background: #ddd;
  /*background: #F2F2F2||rgb(245, 246, 235);*/
}
.u-ft-lang {
  line-height: 36px;
}
.u-ft-copy {
  padding: 10px 0;
}
.u-ft-copy li {
  display: inline-block;
  padding-right: 24px;
}
/* @var */
.g-tl {
  position: relative;
  height: 800px;
  background: rgba(78, 84, 123, 0.2);
}
/*水平时间轴*/
.m-tl {
  height: 120px;
}
.m-tl:before {
  content: '';
  position: absolute;
  top: 85px;
  width: 100%;
  border-top: 1px solid #fff;
  /*lightsteelblue*/
}
.u-tl {
  position: absolute;
  top: 20px;
  color: #d4d4d4;
}
.u-tl:first-child {
  left: 25%;
}
.u-tl:nth-of-type(2) {
  left: 50%;
}
.u-tl:last-child {
  left: 75%;
}
.u-tl > h2 {
  position: relative;
  right: 50%;
  margin: 0;
  font-size: 15px;
}
.u-tl > h2:hover {
  color: #333;
  cursor: pointer;
}
.u-tl > i {
  position: relative;
  top: 38px;
  right: 50%;
}
.u-tl:after {
  content: '';
  position: absolute;
  right: 100%;
  height: 100%;
  margin-right: -1px;
  border: 1px solid gainsboro;
}
.j-active > h2,
.j-active > i {
  color: #333;
}
.j-active:after {
  border: 1px solid #333;
}
/*垂直时间轴*/
.m-tl2 {
  position: absolute;
  width: 100%;
}
.m-tl2:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  margin-left: -2px;
  background: rgba(17, 17, 22, 0.8);
}
.u-tl2 {
  margin: 20px 0;
  overflow: hidden;
}
.u-tl2 h2 {
  float: left;
  margin: 0 10% 0 40%;
  font: 16px normal;
  color: #eee;
}
.tl2-content {
  float: left;
  position: relative;
  padding: 20px 10px;
  color: #696a52;
  background: #fff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tl2-content li {
  text-align: left;
}
.tl2-content:before {
  content: '';
  position: absolute;
  left: -20px;
  border: 10px solid transparent;
  border-right-color: rgba(255, 255, 255, 0.8);
}
.j-tl-hide {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.j-tl-show {
  opacity: 1;
  filter: alpha(opacity=1);
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
@media only screen and (max-width: 768px) {
  .m-tl2:before {
    left: 20%;
  }
  .u-tl2 h2 {
    margin: 0 10% 0 5%;
  }
}
