.nav-wrapper a{
  color: #eee;
}
body{
  background: url('../images/bg/sea.jpg') no-repeat 0px -950px;/*道路或走向远方的图片*/
}
/*规划容器*/
.planning{
  position: relative;
  height: 600px;
}
.planning li{
  width: 100%;
  font-size: 18px;
  color: #ccc;
  opacity: 0.8;
  filter: alpha(opacity=80px);
}
.short-plan{
  position: absolute;
  bottom: 240px;
}
.middle-plan{
  position: absolute;
  top: 120px;
}
.long-plan{
  position: absolute;
  top: 60px;
}
