/* @reset style */
body{ margin: 0; padding: 0; }
p{ margin: 0; }
ul, ol{ 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
table{ 
	border-collapse: collapse; 
	text-align: center; 
}
a{ text-decoration: none; }
button{ outline: none; }
textarea{ 
	resize: none; 
	background: none; 
}



/* @default style */
header, main, footer, article, section, aside, nav{ display: block; }
body{
	box-sizing: content-box;
	font-family: "Times New Roman", Times, serif;
}
li{ text-align: center; }
a, button{ cursor: pointer; }
a:hover, a:active{ text-decoration: underline; }
table caption{
	margin: 0 0 10px;
	font: normal bold 20px/3 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
td{ width: 200px; height: 36px; border: 1px solid black; }
hr{ border: none; border-top: 1px solid #d2d2d2; margin: 25px 0; }

/* @grid layout style */
@media only screen and (max-width: 767px){
	.col-xs-12{ float: left; width: 100%; }
	.col-xs-9{ float: left; width: 75%; }
	.col-xs-8{ float: left; width: 66.66%; }
	.col-xs-6{ float: left; width: 50%; }
	.col-xs-4{ float: left; width: 33.33%; }
	.col-xs-3{ float: left; width: 25%; }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
	.col-sm-12{ float: left; width: 100%; }
	.col-sm-9{ float: left; width: 75%; }
	.col-sm-8{ float: left; width: 66.66%; }
	.col-sm-6{ float: left; width: 50%; }
	.col-sm-4{ float: left; width: 33.33%; }
	.col-sm-3{ float: left; width: 25%; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.col-md-12{ float: left; width: 100%; }
	.col-md-9{ float: left; width: 75%; }
	.col-md-8{ float: left; width: 66.66%; }
	.col-md-6{ float: left; width: 50%; }
	.col-md-4{ float: left; width: 33.33%; }
	.col-md-3{ float: left; width: 25%; }
}
@media only screen and (min-width: 1200px){
	.col-lg-12{ float: left; width: 100%; }
	.col-lg-9{ float: left; width: 75%; }
	.col-lg-8{ float: left; width: 66.66%; }
	.col-lg-6{ float: left; width: 50%; }
	.col-lg-4{ float: left; width: 33.33%; }
	.col-lg-3{ float: left; width: 25%; }
}

.cf:after{
	content: '';
	display: block;
	clear: both;
	zoom: 0;/*IE*/
}



/* @header style */
/*button*/
.nav-btn{
	display: none;
}
@media only screen and (max-width: 768px){
	.nav-trigger{
		display: block;
		float: left;
		height: 50px;
		padding: 0 15px;
		font-size: 18px;
		color: #ccc;
		background: #111;
		border: none;
	}
	ul.nav-wrapper li{
		float: none;
		border-bottom: 1px solid gray;
	}
	/*a占满li*/
	.nav-wrapper li a{
		width: 100%;
		padding: 0px;
	}
	.show{ display: block; }
	.hide{ display: none; }
}
/* logo */
.logo-wrapper{
	padding-top: 5px;
	text-align: center;
}
/* nav style */
.nav-wrapper li{ float: left; }
.nav-wrapper a{
	display: inline-block;
	line-height: 50px;
	padding: 0px 30px;
	color: #aaa;
	transition: background 1s, color 1s;
	-webkit-transition: background 1s, color 1s;
	-moz-transition: background 1s, color 1s;
	-ms-transition: background 1s, color 1s;
	-o-transition: background 1s, color 1s;
}
.nav-wrapper a:hover{
	background: gray;
	color: #333;
}
.nav-wrapper .checked{ text-decoration: underline; }


/* @main style */
main{
	padding: 0 5%;
}
.fill{ padding: 0; }
/* goTop nav */
#goTop{
	position: fixed;
	bottom: 20%;
	right: 10px;
	z-index: 1;
}
.goTop{
	line-height: 36px;
	padding: 4px 8px;
	color: #333;
	border-top: 1px solid black;
}
.goTop:hover{
	color: #eee;
	background: #111;
}


/*zoomIn animate*/
.zoomIn{
	background: #2f2c2c;
	overflow: hidden;
}
.zoomIn img{
	transition: opacity 1s, transform 1s ease;
	-webkit-transition: opacity 1s, transform 1s ease;
	-moz-transition: opacity 1s, transform 1s ease;
	-o-transition: opacity 1s, transform 1s ease;
}
.zoomIn:hover img{
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
	transform: scale3D(1.1, 1.1, 1.1);
	-webkit-transform: scale3D(1.1, 1.1, 1.1);
	-moz-transform: scale3D(1.1, 1.1, 1.1);
	-ms-transform: scale3D(1.1, 1.1, 1.1);
}

/* @footer style */
.m-ft{
	overflow: hidden;
	padding: 0 5%;
	font-size: 15px;
	background: #ddd;/*background: #F2F2F2||rgb(245, 246, 235);*/
}
.u-ft-lang{ line-height: 36px; }
.u-ft-copy{ padding: 10px 0; }
.u-ft-copy li{ 
	display: inline-block;
	padding-right: 24px; 
}
.f-fs1{ font-size: 0.8rem; }
.f-vam{ vertical-align: middle; }
.s-fc1{ color: #626262; }
.s-fc1:hover{ color: rgba(0, 0, 0, 0.9); }


